/*GENERALES && BARRA DE NAVEGACION*/
body{
    font-family: "Oswald", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
    background-color: black !important;
}
.logo{
border-radius: 100%;
}
.navbar.navbar-expand-md.navbar-dark.bg-dark{
background-color: black !important;
font-size: 120%;
}
.active{
    border-bottom: solid 2px red;
    font-size: 110%;
}
/*home++++++++++++++++++++++++++*/
.contenedorprincipal{
    height: 830px !important;
    width: auto !important;
    text-align: center;
    /*
    background-image: url(img/setuprojo.jpg);*/
    background: radial-gradient(circle, rgba(255, 0, 0, 0.349) 0%, rgba(71, 71, 71, 0.301) 58%), 
    url(img/setuprojo.jpg);
    background-size: cover;
    font-size: 250% !important;
}
.mantener{
    color: rgba(240, 248, 255, 0);
}
.accede{
    margin-top: 250px;
    color: white !important;
}
.visita{
margin-bottom: 50px;
}
.enlacetienda{
    text-decoration: none;
    color: red;
    background-color: white;
    padding:1%;
    border-radius: 20px;
    font-size: 100% !important;
}
.enlacetienda:hover{
    color: white;
    background-color: rgb(167, 15, 15);
}
.info{
    margin-top: 50px;
}
/*tienda*/
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.producto{
    width: 50%;
    margin-left: 25%;
    margin-bottom:5%;
}

.producto:hover{
    width: 51%;
    transition: 0.2s;
    cursor: pointer;
}
.precio{
    font-weight: bolder;
    color: red;
}
.btn.carrito{
    background-color: white;
    border: solid black 2px;
}
.btn.carrito:hover{
    background-color: rgb(255, 157, 157);
}
/*ADMINISTRADOR*/
.opciones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.enlaceopcion{
    text-decoration: none;
}
.opcion{
    color: white;
    text-align: center;
    background-color: rgb(32, 32, 32);
    margin: 5%;
    padding: 5%;
    border-radius: 25px;
}
.opcion:hover{
    background-color: gray;
}
.iconoopcion{
    width: 25%;
}
/*ADMIN ------------------------------*/
/*productos*/
.container.mt-5.gestion{
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 78, 78);
    padding: 2%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.productos.adm{
    background-color: rgb(65, 65, 65);
    padding-top: 2%;
}
/*stock*/
.productosstock{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(65, 65, 65);
}
.productostock{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 2%;
}
.sid{

margin-right: 1%;
margin-left: 1%;
margin-top: 1%;
padding: 1%;
background-color: azure;
border-radius: 25px;
}
.snombre{
    
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}
.sstock{
    
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
}
.botonesstock{
    display: flex;        
    justify-content: flex-end; 
    width: 100%;        
    margin-bottom: 1%;
    gap: 2%;
}
/*usuario apartado*/
.contenedorusuario{
text-align: center;
background-color: #2e2e2e;
padding-top: 5%;
padding-bottom: 5%;
}
.contenedorfotouser{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fotouser{
width: 20% !important;
}
.datosuser{
margin-top: 2%;
color: white;
}
.correouser{

}
.salir{
margin-top: 3%;
padding: 1%;
padding-left: 2%;
padding-right: 2%;
border-radius: 25px;
border: none;
background-color: white !important;
font-size: 150%;
}
.salir:hover{
background-color: red !important;
color: white;
}
@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .productos {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 767px) {
    .productos {
        grid-template-columns: repeat(1,1fr);
    }
    .opciones{
        grid-template-columns: repeat(1,1fr);
    }
}